<div id="myModal1" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="width: 50%; max-width:100%">
		<div class="modal-content">

			<div class="modal-body">
				<form action="/trangchustudio" method="POST" enctype="multipart/form-data">
					<input name="bosuutap" type="text" hidden="true" value="{{studio.bosuutap}}">
					<input name="id" type="text" hidden="true" value="{{studio.id}}">
					<label for="">Tên studio</label>
					<input name="tenstudio" class="inputgoi" type="text" required value="{{studio.tenStudio}}"><br>
					<label for="">Ảnh đại diện</label>
					<img style="max-width:300px; max-heigth: 150px; margin-bottom:10px" id="myimage"
						src="{{studio.anhDaiDien}}" alt="">
					<input name="anhdaidien" class="inputgoi" type="file" onchange="onFileSelected(event)"><br>
					<label for="">Mô tả</label>
					<textarea style="height:100px;" class="inputgoi" name="mota" id="" cols="30"
						rows="10">{{studio.mota}}</textarea>
					<label for="">Chữ ký</label>
					<input name="chuky" class="inputgoi" type="text" value="{{studio.chuky}}" required><br>
					<label for="">Phong cách</label>
					<input name="phongcach" class="inputgoi" type="text" value="{{studio.phongcach}}" required><br>
					<label for="">Sổ điện thoại</label>
					<input name="sodienthoai" class="inputgoi" type="number" value="{{studio.sodienthoai}}"
						required><br>
					<label for="">Địa chỉ</label>
					<input name="diachi" class="inputgoi" type="text" value="{{studio.diachi}}" required><br>
					<label for="">Facebook</label>
					<input name="facebook" class="inputgoi" type="text" value="{{studio.facebook}}" required><br>
					<label for="">Email</label>
					<input name="email" class="inputgoi" type="text" value="{{studio.email}}" required>


			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="submit">Gửi</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
			</form>
		</div>
	</div>
</div>
<div id="myModal2" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document" style="width: 50%;max-width:100%">
		<div class="modal-content">

			<div class="modal-body">
				<form action="/trangchustudio/quangcao" method="POST" enctype="multipart/form-data">
					<label for="">Ảnh quảng cáo</label><br>
					<img style="max-width:300px; margin-bottom:10px" id="myimage2" src="" alt="">
					<input name="anhquangcao" class="inputgoi" type="file" onchange="onFileSelected(event)"><br>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="submit">Gửi</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
			</form>
		</div>
	</div>
</div>
<div id="colorlib-page">
	<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
	<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
		<h1 id="colorlib-logo"><a href="{{#if ch}}/trangchustudio{{else}}/xemstudio?id={{studio.id}} {{/if}}"><span
					class="img" style="background-image: url({{studio.anhDaiDien}});"></span>{{studio.tenStudio}}</a>
		</h1>
		<nav id="colorlib-main-menu" role="navigation">
			<ul>
				{{#if ch}}

				<button type="button" class="btn btn-primary tuchoi" data-toggle="modal" data-target="#myModal1">Thiết
					lập</button><br><br>
				<button type="button" class="btn btn-primary tuchoi" data-toggle="modal" data-target="#myModal2">Thêm
					quảng cáo</button><br><br>
				{{/if}}
				<li><a href="/">Trang chủ</a></li>
				<li class="colorlib-active"><a
						href="{{#if ch}}/trangchustudio{{else}} xemstudio?id={{info.id}} {{/if}}">MyStudio</a></li>
				<li><a href="{{#if ch}}/goichup{{else}}xemgoichup?id={{studio.id}}{{/if}}">Các gói chụp ảnh</a></li>
				<li><a href="{{#if ch}}/bosuutap{{else}}xembosuutap?id={{studio.id}}{{/if}}">Bộ sưu tập</a></li>
				{{#if ch}}
				<li><a href="/danhsachdonchup">Danh sách đơn đặt chụp</a></li>
				<li><a href="/dangxuat">Đăng xuất</a></li>
				{{/if}}
			</ul>
		</nav>


	</aside> <!-- END COLORLIB-ASIDE -->
	<div id="colorlib-main">
		<section class="ftco-section-no-padding bg-light">
			<div class="hero-wrap">
				<div class="overlay"></div>
				<div class="d-flex align-items-center js-fullheight">
					<div class="author-image text img d-flex">
						<section class="home-slider js-fullheight owl-carousel">
							<div class="slider-item js-fullheight"
								style="background-image: url({{studio.anhDaiDien}});">
							</div>

							<div class="slider-item js-fullheight" style="background-image:url({{studio.anhDaiDien}});">
							</div>
						</section>
					</div>
					<div class="author-info text p-3 p-md-5">
						<div class="desc">
							<span class="subheading">Xin chào ! Tôi là</span>
							<h1 class="big-letter">{{studio.tenStudio}}</h1>
							<h1 class="mb-4"><span>{{studio.tenStudio}}</span> Chúng tôi lưu giữ <span>sắc màu cuộc
									sống</span></h1>
							<p class="mb-4">{{studio.mota}}</p>
							<h3 class="signature h1">{{studio.chuky}}</h3>
							<ul class="ftco-social mt-3">
								<li class="ftco-animate"><a href="{{studio.facebook}}"><span
											class="icon-facebook"></span></a></li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section contact-section">
			<div class="container">
				<div class="row d-flex mb-5 contact-info">
					<div class="col-md-12 mb-4">
						<h2 class="h3 font-weight-bold">Thông tin liên hệ</h2>
					</div>
					<div class="w-100"></div>
					<div class="col-md-3 d-flex">
						<div class="info bg-light p-4">
							<p><span>Địa chỉ </span><br>{{studio.diachi}}</p>
						</div>
					</div>
					<div class="col-md-3 d-flex">
						<div class="info bg-light p-4">
							<p><span>Phone</span> <a href=""><br>{{studio.sodienthoai}}</a></p>
						</div>
					</div>
					<div class="col-md-3 d-flex">
						<div class="info bg-light p-4">
							<p><span>Email</span> <a href=""><br>{{studio.email}}</a></p>
						</div>
					</div>
					<div class="col-md-3 d-flex">
						<div class="info bg-light p-4">
							<p><span>Facebook </span> <a href="{{studio.facebook}}"><br>{{studio.facebook}}</a></p>
						</div>
					</div>
				</div>
				<div class="row block-9">
					<div class="col-md-6 d-flex">


					</div>
				</div>
			</div>
		</section>
		<footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container px-md-5">
				<div class="row">
					<div class="col-md-12">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p>
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved | Fastfoto is
							made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank">HK</a>
						</p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
		</footer>
	</div><!-- END COLORLIB-MAIN -->
</div><!-- END COLORLIB-PAGE -->

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
			stroke="#F96D00" /></svg></div>